<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/navbar.ejs') %>

<body>
    <div class="container">
        <br />
        <div class="card">
            <div class="card-header">
                <h2>Novo artigo</h2>
            </div>
            <div class="card-body">
                <form method="POST" action="/articles/save">
                    <input class="form-control" type="text" name="title" placeholder="Digite o titulo do artigo" />
                    <br />
                    <textarea class="form-control" name="body" id="article"placeholder="Escreva o artigo aqui!"></textarea>
                    <label>Categoria</label>
                    <select name="category" class="form-control">
                        <% categories.forEach((category) => { %>
                            <option value="<%= category.id %>"><%= category.title %></option>
                        <% }) %>
                    </select>
                    <br />

                    <button class="btn btn-primary">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
</body>